//particles---------------------------------------------------------------

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

$z-index: (
  particle: 20,
  container1: 10,
  home-bg: 0,
  nav-burger: 30,
  navbar: 30,
  contact-me: 0,
);

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: map-get($z-index, particle);
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    90% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(8) + 5 + px;
    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
    background: hsl(randomNum(200, 270), 70%, 50%);
  }
}

//main css ------------------------------------------------------------------------------------------

.App {
  font-size: 1.2rem;
  font-family: "Quicksand";
}

a:hover {
  text-shadow: 0 0 5px white;
  color: #92999a;
}

.font-link {
  font-family: "Quicksand";
}

.ul-projects {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}



/*buttons -----------------------------------------------------------------------------------------*/

.from-center:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--inv);
}

.from-center:hover:before {
  left: 0;
  width: 100%;
}

.from-center:hover:after {
  top: 0;
  height: 100%;
}

/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #3f78b1;

  box-sizing: border-box;
  color: #00132c;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
  color: #f5fafa;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #d5edf6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  // background-color: #6DCFF6;
  background-color: #252c35;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

/* https://mdbootstrap.com/docs/react/extended/hamburger-menu/*/

/* Icon 1 */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #2d7ef7;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/*NAVBAR: DESKTOP ------------------------------------------------------------------*/

@media only screen and (min-width: 1500px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    font-size: 1rem;
  }

  #nav-burger {
    display: none;
  }

  #navFlex {
    display: content;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    align-items: center;
    background: #252c35;
    color: #f5fafa;
    margin: auto;
    position: fixed;
    width: 100%;
  }

  .nav-flex-jr {
    display: flex;
    justify-content: space-around;
    flex-shrink: 1;
    padding: 0.5rem;
  }

  .github-icon {
    background-image: url("./media/github_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .brand {
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .projects-nav-link {
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .about {
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .contact-nav-link {
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 8rem;
  }
 
}

/*NAVBAR: TABLET ------------------------------------------------------------------*/

@media only screen and (max-width: 1500px) {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    font-size: 1rem;
  }

  #nav-burger {
    display: none;
  }

  #navFlex {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    background: #252c35;
    color: #f5fafa;
    padding: 0.5rem;
    margin: auto;
    position: fixed;
    width: 100%;
  }

  .nav-flex-jr {
    display: flex;
    justify-content: space-around;
    flex-shrink: 2;
  }

  .brand {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .github-icon {
    background-image: url("./media/github_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .projects-nav-link {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-nav-link {
    cursor: pointer;
    font-size: 1rem;
    padding-right: 4rem;
    padding-left: 2rem;
  }
}

/*NAVBAR: MOBILE LARGE------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    font-size: 1rem;
  }

  #nav-burger {
    display: none;
  }

  #navFlex {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    background: #252c35;
    color: #f5fafa;
    padding: 1rem;
    margin: auto;
  }

  .nav-flex-jr {
    display: flex;
    justify-content: space-around;
    flex-shrink: 2;
  }

  .brand {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .projects-nav-link {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact-nav-link {
    cursor: pointer;
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 1rem;
  }

  .drop-down {
    display: none;
  }

}

/*NAVBAR: MOBILE SMALLER------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    font-size: 3rem;
  }

  #nav-burger {
    display: contents;
  }

  #navFlex {
    display: none;
  }

  .nav-flex-jr {
    display: flex;
    justify-content: space-around;
    flex-shrink: 2;
  }

  .brand {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-bar-link {
    display: flex;
    flex-direction: column;
    background-color: #252c35;
    width: 6rem;
    font-size: 0.8rem;
  }
  .nav-bar-link:hover {
    background-color: #f5fafa;
    color: #252c35;
  }
  .align-right {
    display: flex;
    justify-content: flex-end;
  }


#footer {
  display: contents;
  display: block;
  position: fixed;
  height: 2rem;
  bottom: 0;
  width: 100vw;
  background: #252c35;
  color: #f5fafa;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.icon {
  background-image: url("./media/github_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
}

}
/*NAVBAR: MOBILE SMALLEST------------------------------------------------------------------*/

@media only screen and (max-width: 400px) {
  ul {
    display: none;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    font-size: 1rem;
    // display: none;
  }

  #nav-burger {
    display: contents;
    position: fixed;
  }

  #navFlex {
    display: none;
  }

  .nav-flex-jr {
    display: none;
    justify-content: space-around;
    flex-shrink: 2;
  }

  .brand {
    display: none;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-bar-link {
    display: flex;
    flex-direction: column;
    background-color: #252c35;
    width: 6rem;
    font-size: 0.8rem;
  }
  .nav-bar-link:hover {
    background-color: #f5fafa;
    color: #252c35;
  }

  .home {
    color: #f5fafa;
  }
  .container-fluid-mine {
    display: flex;
    justify-content: space-between;
  }

  #footer {
    display: contents;
    display: block;
    position: fixed;
    height: 2rem;
    bottom: 0;
    width: 100vw;
    background: #252c35;
    color: #f5fafa;
  }

  .footer-flex {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .icon {
    background-image: url("./media/github_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
  }

  #hide-footer {
    display: none;
  }
}

/*HOME: DESKTOP ------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
  .home-bg {
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    // height: calc(100vh - 2.5rem);
    height: 100vh;
    width: 100vw;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 2.5rem);
    width: 100%;
    padding-left: 4rem;
  }

  .name {
    font-size: 3rem;
    padding-top: 5rem;
  }

  .title {
    font-size: 2rem;
    padding-left: 4rem;
  }

  .h3 {
    font-size: 2rem;
  }

  .name-and-title {
    display: flex;
    padding-top: 5rem;
    padding-left: 6rem;
    flex-direction: column;
    height: 10rem;
    justify-content: space-around;
  }

  /* 
    .quote{ 
      display: flex; 
      flex-wrap: wrap;
      width: 20vw;
      align-self: flex-end;
      font-size: 3rem;
      padding-bottom: 6rem;
      padding-right: 6rem;
    } */
}

/*HOME: Small Desktop ------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 50%;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 4rem;
  }

  .name {
    font-size: 3rem;
  }

  .title {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1rem;
  }

  .name-and-title {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
  }
}

/*HOME: Mobile LGEST ------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 60%;
  }
}

/*HOME: Mobile Lg ------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 55%;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 2rem;
  }
}

/*HOME: MOBILE SMALL------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 55%;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 2rem;
  }
}
/*HOME: MOBILE SMALL------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 65%;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 2rem;
  }
}

/*HOME: MOBILE 2nd SMALLEST------------------------------------------------------------------*/

@media only screen and (max-width: 380px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 60%;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 2rem;
  }
}

/*HOME: MOBILE Absolute Smallest---------------------------------------------------------------*/

@media only screen and (max-width: 320px) {
  .home-bg {
    display: flex;
    justify-content: center;
    background-image: url("./media/untwined_stretched1.png");
    background-size: cover;
    background-position: 65%;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 1rem;
  }
  .name {
    font-size: 2.8rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .h3 {
    font-size: 1rem;
  }
}
/* ABOUT DESKTOP ----------------------------------------------------------------------*/

@media only screen and (min-width: 1000px) {
  .about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    padding-top: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    margin-bottom: 10vw;
    gap: 5vw;
  }

  .about-me-column {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    align-items: center;
    justify-content: center;
  }

  .about-me-label {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-text {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 75%;
  }

  .about-me-image {
    display: flex;
    padding-top: 10%;
    align-items: center;
    height: 20vw;
    width: 200%;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./media/headshot_square.jpg");
  }
}

/* ABOUT TABLET ----------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    padding-top: 12vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    margin-bottom: 10vw;
    gap: 5vw;
  }

  .about-me-column {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    align-items: center;
    justify-content: center;
  }

  .about-me-image {
    display: flex;
    padding-top: 10%;
    align-items: center;
    height: 20vw;
    width: 200%;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./media/headshot_square.jpg");
  }

  .about-me-text {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
  }
}

/* ABOUT MOBILE ----------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    padding-top: 0vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    margin-bottom: 10vw;
    gap: 5vw;
  }

  .about-me-column {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    align-items: center;
    justify-content: center;
  }

  .about-me-image {
    display: flex;
    padding-top: 10%;
    align-items: center;
    height: 40vw;
    width: 200%;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./media/headshot_square.jpg");
  }

  .about-me-text {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 120%;
  }
}

/* PROJECTS DESKTOP ----------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
  // .full-screen{
  //   display: contents;
  // }

  // .display-container{
  //   display: flex;
  //   max-width: 75%;
  // }

  // .section-title{
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;
  //   font-size: 3rem;
  //   margin-top: 6rem;
  //   margin-bottom: 1rem;
  // }

  // .project-title{
  //   text-align: center;
  //   padding-top: 2rem;
  //   font-size: 2rem;
  // }

  // .project-page-description{
  //   text-align: center;
  // }

  // .subtitle{
  //   margin: 1rem;
  //   padding: 1rem;
  //   text-align: center;
  //   font-size: 1.5rem;
  //   word-wrap: break-word;
  // }

  // .project1-container{
  //     position: relative;
  //     margin-bottom: 100vh;
  // }

  // .box{
  //     position: absolute;
  //     border: .1vw solid #191E32;
  //     height: 70vh;
  //     width: 65vw;
  //     margin-top: 15vh;
  //     margin-bottom: 15vh;
  //     margin-left: 5vw;
  //     z-index: 0;
  // }

  // .box1{
  //     position: absolute;
  //     border: .1vw solid #191E32;
  //     height: 70vh;
  //     width: 65vw;
  //     margin-top: 25vh;
  //     margin-bottom: 10vh;
  //     margin-left: 25vw;
  //     z-index: 1;
  // }

  // .box-content{
  //     position: absolute;
  //     border: .1vw solid #191E32;
  //     height: 45vh;
  //     width: 25vw;
  //     left: 48.5%;
  //     -ms-transform: translate(-50%);
  //     transform: translate(-50%);
  //     z-index: 2;
  //     margin-top: 30vh;
  //     margin-bottom: 30vh;
  //     padding: 1vw;
  //     align-items: center;
  //     justify-content: center;
  //     // font-size: 2vw;
  //     overflow: hidden;
  // }

  // .projects-2-3-container{
  //     display: flex;
  //     width: 100vw;
  //     height: 90vw;
  //     margin-top: 20vh;
  //     padding-top: 15rem;
  // }

  // .p2-content{
  //     position: absolute;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     border: .1vw solid #191E32;
  //     height: 40rem;
  //     width: 35rem;
  //     // font-size: 1.2rem;
  //     padding: 10rem;
  //     margin-top: 30vh;
  //     // margin-bottom: 30vh;
  //     margin-left: 10vw;
  //     overflow: hidden;
  //     -ms-transform: translateY(-50%);
  //     transform: translateY(-50%);

  // }

  // .p3-content{
  //     position: absolute;
  //     border: .1vw solid #191E32;
  //     height: 40rem;
  //     width: 35rem;
  //     margin-left: 45vw;
  //     z-index:1;
  //     margin-top: 35vh;
  //     // margin-bottom: 30vh;
  //     // font-size: 2vw;
  //     padding-left: 10rem;
  //     padding-right: 10rem;
  //     padding-bottom: 5rem;
  //     padding-top: 5rem;
  //     overflow: hidden;
  //   //   -ms-transform: translateY(-50% + 5vh);
  //   //   transform: translateY(-50%);
  // }

  // .p4-content{
  //   display: flex;
  //   flex-direction: column;
  //   border: .1vw solid #191E32;
  //   height: 30rem;
  //   width: 60rem;
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-top: 8rem;
  //   margin-bottom: 10rem;
  //   justify-content: justify;
  //   padding-left: 10rem;
  //   padding-right: 10rem;
  //   padding-bottom: 5rem;
  //   padding-top: 5rem;
  //   overflow: hidden;

  // }

  // .projects-flex{
  //   display: none;
  // }

  .full-screen {
    display: none;
  }

  .projects-flex {
    display: content;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
  }

  .section-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  .project-title {
    text-align: center;
    // padding-top: 2rem;
    font-size: 2rem;
  }

  .project-page-description {
    text-align: center;
  }

  .subtitle {
    margin: 1rem;
    // padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    word-wrap: break-word;
  }

  .project {
    border: 0.1vw solid #191e32;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .horizontal-column{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 45vh;
    
  }
  // .project-image{
  //   display: flex;
  //   margin: auto;
  //   height: 15vw;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   font-size: .7rem;
  //   text-align: center;
  //   justify-content: center;
  // }

  .img {
    display: flex;
    margin: auto;
    width: 35vw;
    height: 35vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
  }

  .img1{
    background-image: url("./media/table.png");

  }
  .img2 {
    background-image: url("./media/dataVis1.png");

  }
  .img3 {
    background-image: url("./media/youtube1.png");

  }
  .img4 {
    background-image: url("./media/flashcards.png");

  }

  .column-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .column-1 {
    display: flex;
    flex-direction: column;
  }
  .one-column {
    display: none;
  }
}

/* PROJECTS MOBILE LARGEST ----------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
  .full-screen {
    display: none;
  }

  .projects-flex {
    display: content;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }

  .section-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  .project-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
  }

  .project-page-description {
    text-align: center;
  }

  .subtitle {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    word-wrap: break-word;
  }

  .project {
    border: 0.1vw solid #191e32;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  // .project-image{
  //   display: flex;
  //   margin: auto;
  //   height: 25vw;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   font-size: .7rem;
  //   text-align: center;
  //   justify-content: center;
  //   word-wrap: break-word;

  // }

  .img1 {
    background-image: url("./media/table.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .img2 {
    background-image: url("./media/dataVis1.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .img3 {
    background-image: url("./media/youtube1.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .img4 {
    background-image: url("./media/flashcards.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }

  .column-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .column-1 {
    display: flex;
    flex-direction: column;
  }
  .one-column {
    display: none;
  }
}

/* PROJECTS MOBILE Medium ----------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {
  .full-screen {
    display: none;
  }

  .projects-flex {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
  }

  .section-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  .project-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
  }

  .project-page-description {
    text-align: center;
  }

  .subtitle {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    word-wrap: break-word;
  }

  .project {
    border: 0.1vw solid #191e32;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  // .project-image{
  //   display: flex;
  //   margin: auto;
  //   height: 25vw;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   font-size: .7rem;
  //   text-align: center;
  //   justify-content: center;
  //   word-wrap: break-word;
  // }

  .img1 {
    background-image: url("./media/table.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .img2 {
    background-image: url("./media/dataVis1.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .img3 {
    background-image: url("./media/youtube1.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .img4 {
    background-image: url("./media/flashcards.png");
    display: flex;
    margin: auto;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
  }

  .column-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .one-column {
    display: none;
  }

  .list {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .column-container {
    display: none;
  }

  .one-column {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
  }
  .list {
    font-size: 1rem;
  }
}

/* CONTACT Desktop--------------------------------------------------------------------------------*/

@media only screen and (min-width: 700px) {

  .contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 8rem;
    font-size: 1.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 50vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    padding: 1rem;
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 4vh;
  }
}


/* CONTACT Mobile-------------------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {
  .contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 50vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    padding: 1rem;
    font-size: 1rem;
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 4vh;
 
  }



}

